#1 Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
#2 Ilu pojedynczych artystów znajduje się na liście?
#3 Które zespoły pojawiają się najczęściej na liście?
#4 Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.
#5 Wyrzuć z tabeli kolumnę ‘Max Poz’.
#6 W którym roku wyszło najwięcej albumów znajdujących się na liście?
#7 Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?
#8 W którym roku wydany został najmłodszy album na liście?
#9 Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.
#10 Listę zapisz do pliku csv.

In [208]:
import pandas as pd

df = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

df_arr = df[0]

#1
df_arr.rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'}, inplace=True)

#2
artist_values = df_arr['ARTYSTA'].value_counts()
print(f"Suma pojedynczych, występujących artystów:", (artist_values < 2).sum())

#3
text = artist_values[artist_values == artist_values.max()]
print(text.to_string())

#4
df_arr.rename(str.capitalize, axis='columns')

#5
df_arr.drop('MAX POZ', axis=1,inplace=True)

#6
years_most = df_arr.groupby('ROK').size()
years = years_most[years_most == years_most.max()]
print(years.to_string())
      
#7
a = df_arr[(df_arr['ROK']>1960)&(df_arr['ROK']<=1990)].value_counts()
print(f"Liczba albumów wydanych między 1960 a 1990 włącznie :", a.sum())

#8
print(f"Najmłodszy album jest z roku :", df_arr['ROK'].min())


#9
lista_albumów = (
    df_arr
    .sort_values('ROK', ascending=False)
    .drop_duplicates('ARTYSTA')['TYTUŁ']
    .tolist()
)

s = pd.Series(lista_albumów)

#10
s.to_csv('youngest_albums.csv', index=False)

Suma pojedynczych, występujących artystów: 36
ARTYSTA
TAKE THAT    3
COLDPLAY     3
ROK
1987    4
2000    4
Liczba albumów wydanych między 1960 a 1990 włącznie : 22
Najmłodszy album jest z roku : 1965